/* You can add global styles to this file, and also import other style files */
html{
    height:100%;
}
body{
    height:100%;
   background-image: url('src\assets\images.jpg');
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}